<launch>
  <arg name="model" default=""/>
  <arg name="window_s" default="0.5"/>
  <node pkg="robotic_fish_acoustic" type="quadrant_node.py" name="acoustic_quadrants" output="screen">
    <param name="model" value="$(arg model)"/>
    <param name="window_s" value="$(arg window_s)"/>
    <remap from="~probabilities" to="/robotic_fish/acoustic/quadrant_probabilities"/>
    <remap from="~comparison" to="/robotic_fish/acoustic/channel_comparison"/>
  </node>
</launch>
